.trigger {
  padding: 0 24px;
  font-size: 22px;
  line-height: 70px;
  cursor: pointer;
  transition: color 0.3s;
}
.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
.logo img {
  height: 100%;
  width: 100%;
}
.user__actions--list {
  padding: 3px 0;
  display: flex;
  align-items: center;
}
.login-signup {
  position: relative;
  height: 100vh;
}
.login-signup__container{
  padding:20px;
  border:1px solid #bbb;
  width: 40%;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  border-radius: 5px;
}
.login-form,.signup-form {
  width:70%;
  margin: 0 auto;
}
.login-form-button,.signup-form-button {
  width:100%;
}
.forgot-password-link {
  width: 100%;
  text-align: end;
}